.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
}
.msg-container {
    border: none;
    outline: none;
}
